# **토익진단평가 데이터 다듬기2**
# 단계2 : 데이터프레임 탐색

## 0.미션

* 전처리 단계에서 생성한 데이터에 대한 데이터프레임 탐색을 해봅시다.
* 개별 변수 및 개별 변수들 간의 관계에 대해 생각해보고, 분석해봅니다.

## 1.환경설정

### (1) 폰트 설치

In [1]:
# 아래 라이브러리를 수행해주세요.

In [2]:
!pip install matplotlib
!pip install --upgrade matplotlib

import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

### (2) 라이브러리 불러오기

* **세부 요구사항**
    - 기본적으로 필요한 라이브러리를 import 하도록 코드를 작성하였습니다.
    - pandas, numpy, matplotlib 라이브러리를 실행해주세요.

In [3]:
#[문제] pandas 라이브러리를 임포트하세요.

In [4]:
import pandas as pd

In [5]:
#[문제] numpy 라이브러리를 임포트하세요.

In [6]:
import numpy as np

In [7]:
#[문제] matplotlib 라이브러리를 임포트하세요.

In [8]:
import matplotlib.pyplot as plt

In [9]:
#차트에 한글폰트 설정을 위해 아래 라이브러리를 실행해주세요.

In [10]:
plt.rc('font', family='Malgun Gothic')

### (3) 데이터 불러오기
* 1.데이터 전처리 단계에서 앞 시간에 생성한 데이터를 로딩합니다.
    * data04_baseline.csv
* 다음과 같이 데이터를 저장하여 불러와주세요.
    * 주피터랩 수행
        * 제공된 압축파일 '미프 1차_토익'을 다운받아 압축을 푼다.
        * anaconda의 root directory(보통 C:\Users\<ID> 에 '미프 1차_토익' 폴더를 만들고, 복사해 넣습니다.
        * '2.데이터_탐색_교육생용' 실습파일을 열어주세요.

#### 1) 주피터랩 수행

In [11]:
# '미프 1차_토익' 폴더에 필요한 파일들을 넣고, 본 파일을 열고 데이터를 읽어옵니다.

In [12]:
#[문제] '미프 1차_토익' 폴더에서 본 파일 '2.데이터_탐색_교육생용' 실습파일을 열어주세요.

#### 2) 저장된 데이터 읽어오기
* [1.전처리] 단계에서 저장된 .csv 파일인 'data04_baseline.csv' 파일을 불러옵니다.
* 불러 온 후에는 shape를 확인해 봅시다.

In [13]:
#[문제] data04_baseline.csv 파일을 pd.read_csv 함수를 이용하여 읽고 data변수에 할당하세요.

In [14]:
# 읽어들일 파일명 : data04_baseline.csv
# Pandas read_csv 함수 활용
# 결과 : data 저장

In [15]:
data = pd.read_csv('data04_baseline.csv')

In [16]:
#[문제] 읽어온 데이터프레임 data 확인해주세요.

In [17]:
data.head()

,ID,Gender,Birth_Year,Seq,3st_LC_Score,RC_Score_x,3st_Total_Score,학습목표,학습방법,강의 학습 교재 유형,...,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,RC_Score_y,1st_Total_Score,2st_LC_Score,RC_Score,2st_Total_Score,Score_diff_total
0,1,M,1973,3,345,336,681,승진,온라인강의,영상 교재,...,7.0,알고 있음,10,181,173,354,227,213,440,241
1,2,F,1982,3,380,368,748,승진,온라인강의,뉴스/이슈 기반 교재,...,4.0,알고 있음,14,330,290,620,354,339,693,55
2,3,F,1995,3,416,382,798,자기계발,참고서,일반적인 영어 텍스트 기반 교재,...,4.0,알고 있음,4,367,309,676,396,365,761,37
3,4,M,1987,3,495,397,892,승진,온라인강의,뉴스/이슈 기반 교재,...,9.0,알고 있음,8,470,285,755,495,341,836,56
4,5,M,1994,3,398,437,835,자기계발,온라인강의,영상 교재,...,6.0,알고 있음,4,273,372,645,314,426,740,95

In [18]:
#[문제] data 데이터프레임의 열과 행을 확인해주세요.

In [19]:
data.shape

(502, 21)

In [20]:
#[문제] data 데이터프레임의 자료구조(Row, Column, Not-null, type)을 파악하세요.

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                502 non-null    int64
 1   Gender            502 non-null    object
 2   Birth_Year        502 non-null    int64
 3   Seq               502 non-null    int64
 4   3st_LC_Score      502 non-null    int64
 5   RC_Score_x        502 non-null    int64
 6   3st_Total_Score   502 non-null    int64
 7   학습목표              502 non-null    object
 8   학습방법              502 non-null    object
 9   강의 학습 교재 유형       502 non-null    object
 10  학습빈도              502 non-null    object
 11  기출문제 공부 횟수        502 non-null    float64
 12  취약분야 인지 여부        502 non-null    object
 13  토익 모의테스트 횟수       502 non-null    int64
 14  1st_LC_Score      502 non-null    int64
 15  RC_Score_y        502 non-null    int64
 16  1st_Total_Score   502 non-null    int64
 17  2st_LC_Score      502 non-null    int64
 18  RC_Score          502 non-null    int64
 19  2st_Total_Score   502 non-null    int64
 20  Score_diff_total  502 non-null    int64
dtypes: float64(1), int64(14), object(6)
memory usage: 82.5+ KB

In [22]:
#[문제] 인덱스를 확인해보세요.

In [23]:
data.index

RangeIndex(start=0, stop=502, step=1)

In [24]:
#[문제] 컬럼명을 확인해보세요.

In [25]:
data.columns

Index(['ID', 'Gender', 'Birth_Year', 'Seq', '3st_LC_Score', 'RC_Score_x',
       '3st_Total_Score', '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수',
       '취약분야 인지 여부', '토익 모의테스트 횟수', '1st_LC_Score', 'RC_Score_y',
       '1st_Total_Score', '2st_LC_Score', 'RC_Score', '2st_Total_Score',
       'Score_diff_total'],
      dtype='object')

In [26]:
#[문제] 상단 5행을 확인해보세요

In [27]:
data.head(5)

,ID,Gender,Birth_Year,Seq,3st_LC_Score,RC_Score_x,3st_Total_Score,학습목표,학습방법,강의 학습 교재 유형,...,기출문제 공부 횟수,취약분야 인지 여부,토익 모의테스트 횟수,1st_LC_Score,RC_Score_y,1st_Total_Score,2st_LC_Score,RC_Score,2st_Total_Score,Score_diff_total
0,1,M,1973,3,345,336,681,승진,온라인강의,영상 교재,...,7.0,알고 있음,10,181,173,354,227,213,440,241
1,2,F,1982,3,380,368,748,승진,온라인강의,뉴스/이슈 기반 교재,...,4.0,알고 있음,14,330,290,620,354,339,693,55
2,3,F,1995,3,416,382,798,자기계발,참고서,일반적인 영어 텍스트 기반 교재,...,4.0,알고 있음,4,367,309,676,396,365,761,37
3,4,M,1987,3,495,397,892,승진,온라인강의,뉴스/이슈 기반 교재,...,9.0,알고 있음,8,470,285,755,495,341,836,56
4,5,M,1994,3,398,437,835,자기계발,온라인강의,영상 교재,...,6.0,알고 있음,4,273,372,645,314,426,740,95

## 2.데이터프레임 탐색 : 개별 변수 분석하기

* **세부 요구사항**
    * 기본 분석
        * 기초 통계량, NaN 값 확인 등 기본 분석을 수행합니다.
    * 주요 변수들의 분포를 살펴보기
        * 숫자형 변수 : 기초통계량 조회 (평균, 중앙값, 표준편차 등)
        * 범주형 변수 : 특정한 카테고리나 범주로 구성된 변수인 범주별 빈도수, 바 플롯 (예시 : 성별, 혈액형, 지역 등 그룹화할 수 있는 변수)
        * 시각화나 통계분석에서 범주형 변수의 그룹 간의 차이나 관계를 분석할 때 중요한 역할을 합니다.

### (1) 기본 분석

* **세부 요구사항**
    - 데이터프레임 전체에 대한 기초통계량을 구합니다.
    - NaN을 확인해봅니다.
      * NaN이 존재한다면 Numpy 모듈에서 isna() 함수를 통해 판별하고 적절하게 조치해줍니다.

In [28]:
#[문제] 'data'의 각 열별 누락된 값(Nan, none) 개수를 확인해보세요.

In [29]:
#isna() 함수 활용
data.isna().sum()

ID                  0
Gender              0
Birth_Year          0
Seq                 0
3st_LC_Score        0
RC_Score_x          0
3st_Total_Score     0
학습목표                0
학습방법                0
강의 학습 교재 유형         0
학습빈도                0
기출문제 공부 횟수          0
취약분야 인지 여부          0
토익 모의테스트 횟수         0
1st_LC_Score        0
RC_Score_y          0
1st_Total_Score     0
2st_LC_Score        0
RC_Score            0
2st_Total_Score     0
Score_diff_total    0
dtype: int64

In [30]:
#[문제] 'data'의 각 열 통계량을 요약하여 출력하세요.

In [31]:
# describe 함수 활용
data.describe()

,ID,Birth_Year,Seq,3st_LC_Score,RC_Score_x,3st_Total_Score,기출문제 공부 횟수,토익 모의테스트 횟수,1st_LC_Score,RC_Score_y,1st_Total_Score,2st_LC_Score,RC_Score,2st_Total_Score,Score_diff_total
count,502.000000,502.000000,502.0,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000,502.000000
mean,250.587649,1992.948207,3.0,368.023904,369.318725,737.382470,5.087649,9.452191,313.697211,312.798805,626.496016,337.868526,338.045817,675.924303,61.458167
std,144.199862,8.236603,0.0,82.052339,81.659228,155.752174,2.790826,4.952137,85.483105,86.522443,148.318758,84.141542,83.817809,152.986694,39.684902
min,1.000000,1973.000000,3.0,141.000000,135.000000,280.000000,0.000000,1.000000,105.000000,84.000000,250.000000,120.000000,129.000000,260.000000,0.000000
25%,126.250000,1987.000000,3.0,295.000000,295.000000,591.250000,3.000000,5.000000,259.250000,250.000000,519.000000,279.000000,280.500000,558.750000,30.000000
50%,251.500000,1993.000000,3.0,372.000000,375.000000,760.000000,5.000000,8.000000,308.000000,311.500000,641.000000,332.500000,335.000000,690.500000,63.000000
75%,374.750000,2000.000000,3.0,434.000000,437.000000,860.000000,7.000000,13.000000,369.000000,377.750000,734.750000,395.000000,400.000000,790.000000,83.000000
max,500.000000,2007.000000,3.0,495.000000,495.000000,990.000000,10.000000,20.000000,495.000000,491.000000,970.000000,495.000000,495.000000,990.000000,281.000000

In [32]:
#[문제] 위에서 출력한 통계량 데이터프레임의 행과 열을 서로 바꾸어 출력하세요.

In [33]:
#'T'는 데이터프레임의 전치(Transpose)를 의미함
# descibe 함수 활용
data.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,502.0,250.587649,144.199862,1.0,126.25,251.5,374.75,500.0
Birth_Year,502.0,1992.948207,8.236603,1973.0,1987.00,1993.0,2000.00,2007.0
Seq,502.0,3.000000,0.000000,3.0,3.00,3.0,3.00,3.0
3st_LC_Score,502.0,368.023904,82.052339,141.0,295.00,372.0,434.00,495.0
RC_Score_x,502.0,369.318725,81.659228,135.0,295.00,375.0,437.00,495.0
3st_Total_Score,502.0,737.382470,155.752174,280.0,591.25,760.0,860.00,990.0
기출문제 공부 횟수,502.0,5.087649,2.790826,0.0,3.00,5.0,7.00,10.0
토익 모의테스트 횟수,502.0,9.452191,4.952137,1.0,5.00,8.0,13.00,20.0
1st_LC_Score,502.0,313.697211,85.483105,105.0,259.25,308.0,369.00,495.0
RC_Score_y,502.0,312.798805,86.522443,84.0,250.00,311.5,377.75,491.0
1st_Total_Score,502.0,626.496016,148.318758,250.0,519.00,641.0,734.75,970.0
2st_LC_Score,502.0,337.868526,84.141542,120.0,279.00,332.5,395.00,495.0
RC_Score,502.0,338.045817,83.817809,129.0,280.50,335.0,400.00,495.0
2st_Total_Score,502.0,675.924303,152.986694,260.0,558.75,690.5,790.00,990.0
Score_diff_total,502.0,61.458167,39.684902,0.0,30.00,63.0,83.00,281.0

In [34]:
#[문제] Gender 컬럼의 값 별 개수를 확인해주세요. (Gender M : 남자, F : 여자)

In [35]:
# value_counts 함수 활용
data['Gender'].value_counts()

Gender
M    251
F    251
Name: count, dtype: int64

In [36]:
#[문제] 'Gender' 컬럼의 ['M', 'F'] --> [1,2]로 변경해해보세요.

In [37]:
# replace 함수 활용
data['Gender'] = data['Gender'].replace({'M':1, 'F':2 } )

In [38]:
#[문제] Gender 컬럼의 값 별 개수를 다시 확인해주세요.

In [39]:
data['Gender'].value_counts()

Gender
1    251
2    251
Name: count, dtype: int64

In [40]:
#[문제] 'Gender' 컬럼 타입을 object에서 int로 변경해보세요.

In [41]:
#astype 함수 활용
data = data.astype({'Gender':'int'})

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                502 non-null    int64
 1   Gender            502 non-null    int32
 2   Birth_Year        502 non-null    int64
 3   Seq               502 non-null    int64
 4   3st_LC_Score      502 non-null    int64
 5   RC_Score_x        502 non-null    int64
 6   3st_Total_Score   502 non-null    int64
 7   학습목표              502 non-null    object
 8   학습방법              502 non-null    object
 9   강의 학습 교재 유형       502 non-null    object
 10  학습빈도              502 non-null    object
 11  기출문제 공부 횟수        502 non-null    float64
 12  취약분야 인지 여부        502 non-null    object
 13  토익 모의테스트 횟수       502 non-null    int64
 14  1st_LC_Score      502 non-null    int64
 15  RC_Score_y        502 non-null    int64
 16  1st_Total_Score   502 non-null    int64
 17  2st_LC_Score      502 non-null    int64
 18  RC_Score          502 non-null    int64
 19  2st_Total_Score   502 non-null    int64
 20  Score_diff_total  502 non-null    int64
dtypes: float64(1), int32(1), int64(14), object(5)
memory usage: 80.5+ KB

In [43]:
#[문제] data 데이터 프레임에서 Null 데이터가 있는지 확인해주세요.

In [44]:
data.isnull().sum()

ID                  0
Gender              0
Birth_Year          0
Seq                 0
3st_LC_Score        0
RC_Score_x          0
3st_Total_Score     0
학습목표                0
학습방법                0
강의 학습 교재 유형         0
학습빈도                0
기출문제 공부 횟수          0
취약분야 인지 여부          0
토익 모의테스트 횟수         0
1st_LC_Score        0
RC_Score_y          0
1st_Total_Score     0
2st_LC_Score        0
RC_Score            0
2st_Total_Score     0
Score_diff_total    0
dtype: int64

### (2) 주요 변수의 분포를 살펴보기

* **세부 요구사항**
    - 주요 변수들의 분포를 살펴보자.
        * 대상 : 최종 차수 점수 변화, 생년월일, 학습목표, 학습방법, 강의 학습 교재 유형
        * 도구 : 기초통계량, bar차트를 통한 데이터 분포 파악
    - 전체 현황과 각 변수별 현황을 비교해보고 결과를 저장하자.

#### 1) 열 데이터 탐색 및 시각화 : 최종 차수 점수 변화(Score_diff_total)

In [45]:
#[문제] 변수 Sdt에 문자열 'Score_diff_total'을 할당 하세요.

In [46]:
Std = data['Score_diff_total']
Std

0      241
1       55
2       37
3       56
4       95
      ...
497     30
498     68
499     10
500     88
501     99
Name: Score_diff_total, Length: 502, dtype: int64

In [47]:
#[문제] 'data' 데이터프레임의 'Score_diff_total'열에 대한 기술 통계 정보를 데이터 프레임의 형태로 출력해주세요.

In [48]:
# discribe() 함수 활용
data['Score_diff_total'].describe()

count    502.000000
mean      61.458167
std       39.684902
min        0.000000
25%       30.000000
50%       63.000000
75%       83.000000
max      281.000000
Name: Score_diff_total, dtype: float64

In [49]:
#[문제] 위에서 추출한 데이터의 'Score_diff_total'에 대해 행과 열을 변환하여 기술 통계 정보를 출력해주세요.

In [ ]:
data.head()

In [72]:
data.columns

Index(['ID', 'Gender', 'Birth_Year', 'Seq', '3st_LC_Score', 'RC_Score_x',
       '3st_Total_Score', '학습목표', '학습방법', '강의 학습 교재 유형', '학습빈도', '기출문제 공부 횟수',
       '취약분야 인지 여부', '토익 모의테스트 횟수', '1st_LC_Score', 'RC_Score_y',
       '1st_Total_Score', '2st_LC_Score', 'RC_Score', '2st_Total_Score',
       'Score_diff_total'],
      dtype='object')

In [74]:
data.column

AttributeError: 'DataFrame' object has no attribute 'column'

<span style="background-color:#ffd33d"> sss </span>

<span style="background-color:#f1f8ff"> sss </span>

<span style="background-color:#dcffe4"> sss </span>

<span style="background-color:#dcffe4"> 행과 열을 변환 </span>

<span style="background-color:#dcffe4"> "데이터 프레임"이 아닌 "시리즈" </span>

<span style="background-color:#dcffe4"> 행과 열을 바꾼다?? 모순 </span>

<span style="background-color:#dcffe4"> ## [문제] 'data' 데이터프레임의 'Birth_Year'열에 대한 기술 통계 정보를 출력해주세요.***
 </span>

# ***공부가 됐던 부분 정리해봤습니다.***

## <span style="background-color:#dcffe4"> ## [문제] 'data' 데이터프레임의 'Birth_Year'열에 대한 기술 통계 정보를 출력해주세요.***
 </span>

## 'Birth_Year'에 대해 <span style="background-color:#dcffe4"> 행과 열을 변환 </span>하여 기술 통계 정보를 출력해주세요.

### 시리즈 형태는 <span style="background-color:#dcffe4"> describe().T를 적용해도 똑같은 모습</span> 으로 출력

### 시리즈에 바로 "describe().T"를 적용하면??

In [ ]:
# describe().T 함수 활용

In [53]:
data['Score_diff_total'].describe().T

count    502.000000
mean      61.458167
std       39.684902
min        0.000000
25%       30.000000
50%       63.000000
75%       83.000000
max      281.000000
Name: Score_diff_total, dtype: float64

In [66]:
data['Score_diff_total'].describe()

count    502.000000
mean      61.458167
std       39.684902
min        0.000000
25%       30.000000
50%       63.000000
75%       83.000000
max      281.000000
Name: Score_diff_total, dtype: float64

### 뒤에 T가 있을 때, 없을 때 출력이 같으므로 큰 의미가 없음

### 이유--> 데이터 프레임에서 열을 하나만 불러오며 데이터 타입이 <span style="background-color:#dcffe4"> "데이터 프레임"이 아닌 "시리즈" </span>로 변화


### 따라서 to_frame()을 활용

In [54]:
# 시리즈 데이터라 행과 열을 변환하여 출력하기 전에 데이터 프레임으로 만듦
data['Score_diff_total'].to_frame().describe().T

                  count       mean        std  min   25%   50%   75%    max
Score_diff_total  502.0  61.458167  39.684902  0.0  30.0  63.0  83.0  281.0

### 시리즈 데이터형은 인덱스는 존재하지만, <span style="background-color:#dcffe4"> 열이 존재하지 않는다 </span>

In [79]:
print(len(data['Score_diff_total'].index))
print(len(data['Score_diff_total'].column))
print(len(data['Score_diff_total'].columns))

502

AttributeError: 'Series' object has no attribute 'column'

## <span style="background-color:#dcffe4"> 행과 열을 바꾼다?? 모순 </span>

## 코드에서는 비슷할 거 같아서 인상 깊었던 부분 정리해봤습니다
## 들어주셔서 감사합니다!!