# 유통고객 구매패턴 데이터 전처리
## 단계1. 데이터 탐색 및 준비

## 0.미션

### (1) 미션① : 비즈니스 정보 파악
* 예제 질문 9개 조회를 수행해냅니다.

### (2) 미션 ② : 데이터 구조 만들기

* 고객 이탈을 정의하고, 데이터를 생성합니다.
    * 대상 고객
        * 2014 ~ 2016년 신규 가입 고객 이면서,
        * 2016년 하반기에 한번 이상 방문한 고객을 대상 고객으로 정의합니다.
    * Labeling
        * 위 대상 고객 중, 2017년 1~3월(3개월)동안 방문(구매)하지 않은 사람은 이탈로 간주합니다.
    * feature 추가하기
        * 주어진 기본 feature 3가지를 생성합니다.

## 1.환경설정

### (1) 라이브러리 설치하기
아래를 실행해주세요.

In [1]:
!pip install matplotlib
!pip install --upgrade matplotlib

import matplotlib.pyplot as plt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\user\appdata\roaming\python\python39\site-packages (3.7.2)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda3\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: numpy>=1.20 in c:\anaconda3\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib) (6.0.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\anaconda3\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: zipp>=3.1.0 in c:\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.8.0)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\user\appdata\roaming\python\python39\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: packaging>=20.0 in c:\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\anaconda3\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda3\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\user\appdata\roaming\python\python39\site-packages (from matplotlib) (6.0.0)
Requirement already satisfied: numpy>=1.20 in c:\anaconda3\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: zipp>=3.1.0 in c:\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.8.0)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

### (2) 라이브러리 불러오기

* 세부 요구사항
    - 기본적으로 필요한 라이브러리를 import 하도록 코드가 작성되어 있습니다.
    - 필요하다고 판단되는 라이브러리를 추가하세요.

In [2]:
#[문제1] pandas, numpy, matplotlib 라이브러리를 임포트하세요.

### (3) 데이터 불러오기

* 주어진 데이터셋
    * customers.csv : 고객정보
    * sales.csv : 판매정보
    * products.csv : 상품정보
    
* 다음과 같이 데이터를 저장하세요.
    * 주피터랩 실행
        * 제공된 압축파일 '미프 1차_구매'를 다운받아 압축을 푼다.
        * anaconda의 root directory(보통 C:\Users\<ID> 에 '미프 1차_구매' 폴더를 만들고, 복사하고 붙여넣습니다.
        * '미프 1차_구매' 폴더에 필요한 파일들을 넣고, 본 파일 '데이터 전처리_교육생용' 실습파일을 불러옵니다

* 세부 요구사항
    - 데이터셋을 각각 불러와서 데이터프레임으로 저장합니다.
    - 날짜 데이터들은 날짜형식으로 변환합니다. (customers['RegisterDate'], sales['OrderDate'])
    - 기본 정보를 확인합니다.(.shape, .info(), .head())

In [4]:
#[문제2] '미프 1차_구매' 폴더에서 본 파일들을 열어주세요.

In [5]:
# 전체 데이터 불러오기

In [6]:
#[문제3] 'customers', 'sales' 데이터의 상단 일부 행을 출력해보세요.

In [9]:
#[문제4] 'customers'와 'sales' 데이터프레임의 구조와 기본 통계정보를 출력해보세요.

In [12]:
#[문제5] 날짜 데이터를 날짜형식으로 변환해주세요. 날짜데이터 : customers['RegisterDate'], sales['OrderDate']

In [14]:
#[문제6] 'customers'의 데이터타입이 날짜형식으로 잘 변환되었는지 확인해주세요.

In [15]:
#[문제7] 'sales'의 데이터타입이 날짜형식으로 변환되었는지 확인해주세요.

In [16]:
#[문제8] 'sales' 데이터의 'OrderDate'의 최소값과 최대값을 표시해주세요.

## 2.데이터 탐색

주어진 데이터에 대해서 다음의 요건에 맞게 조회하면서 데이터를 파악해 봅시다.

* **상세요구사항**
    * 아래 예제 질문 9개에 대해 조회를 수행합니다.
    * 예제 질문
        * Q01) 일별 매출액
        * Q02) 월별 매출액
        * Q03) 요일별 매출액 평균
        * Q04) 일별 고객 1인당 평균 구매액(객단가)
        * Q05) 일별 방문 고객수(구매 고객수)
        * Q06) 매출 상위 top 10 상품
        * Q07) 요일별 매출상위 Top 10 상품
        * Q08) 카테고리별 매출 비중
        * Q09) 고객 나이대

### Q01) 일별 매출액

In [18]:
#[문제9] 'sales' 데이터프레임에서 일별 매출액의 합계를 'daily_sales' 데이터 프레임에 할당하세요.

In [20]:
#[문제10] 'sales' 데이터프레임에서 부분인 2016년 1월~3월까지 3개월의 범위로 데이터를 선택하고 'daily_sales'에 할당하세요.

In [22]:
#[문제11] 일자별 매출액을 'daily_sales' 데이터 프레임에 저장해주세요.

In [24]:
#[문제12] 'daily_sales' 데이터를 확인해보세요.

### Q02) 월별 매출액

In [25]:
#[문제13] 기간별 조회를 위해 'sales' 데이터프레임에 주문일자의 연도와 월의 변수를 추가해주세요.

In [27]:
#[문제14] 월별 매출액의 합계를 구하고 'monthly_sales'에 저장해주세요.

In [29]:
#[문제15] 'monthly_sales'를 출력하고 확인해주세요.

### Q03) 요일별 매출액 평균

In [30]:
#[문제16] 'sales' 데이터프레임에서 주문일자 기준 일별 매출액의 합계를 구해 'day_sales'에 저장하세요.

In [32]:
#[문제17] 'day_sales'에서 'OrderDate' 열의 날짜 정보를 활용하여 'Weekday' 열을 추가하세요.

In [34]:
#[문제18] day_sales 데이터프레임의 'Weekday' 열을 출력하세요.

### Q04) 일별 고객 1인당 평균 구매액(객단가)

In [35]:
#[문제19] 'sales' 데이터프레임에서 주문일자,고객ID별 주문금액을 합산하여 'order_amt'에 저장하세요.

In [37]:
#[문제20] 'order_amt'의 상단 10행을 출력하세요.

In [39]:
#[문제21] 'order_amt'에서 주문일자별 고객 구매액의 총 평균을 구하고 'order_amt2'에 저장하세요.

### Q05) 일별 방문 고객수(구매 고객수)

In [41]:
#[문제22] 'order_amt'에서 일별 방문 고객수를 구하고 'daily_visit'으로 저장해주세요.

In [43]:
#[문제23] 'order_amt2'에 'daily_visit' 컬럼을 주문일자 기준 추가해주세요.

In [44]:
#[문제24] 'order_amt2' 데이터를 확인해보세요.

### Q06) 매출 상위 top 10 상품

In [45]:
#[문제25] 'sales' 데이터와 'products' 데이터를 합쳐서 'top_amt'에 할당하세요.

In [47]:
#[문제26] 상품명을 기준으로 매출 합계를 구하여 'top_amt2'에 저장하세요

In [49]:
#[문제27] 'top_amt2' 데이터프레임을 'Amt'열 기준 상위 10개의 데이터를 선택하여 내림차순으로 정렬하고 'top10_amt'에 저장하세요.

In [51]:
#[문제28] 'top10_amt' 데이터프레임을 확인하세요.

### Q07) 카테고리별 매출 비중

In [52]:
#[문제29] 'sales'와 'products' 데이터프레임을 합치고 'cate_amt'에 저장하세요.

In [54]:
#[문제30] 카테고리를 기준으로 매출 합계를 구하여 'cate_amt2'에 저장하세요.

In [56]:
#[문제31] 카테고리별 매출 비중을 구하여 'Rate' 변수를 'cate_amt2'에 추가해주세요.

In [58]:
# 'cate_amt2'를 출력하세요.

### Q08) 요일별 매출 비중

In [59]:
#[문제32] 'sales'와 'products' 데이터프레임을 합치고 'day_amt'에 저장하세요.

In [60]:
#[문제33] 'day_amt' 데이터에서 'OrderDate' 열을 날짜 형식의 데이터타입으로 변환해주세요

In [62]:
#[문제34] 'day_amt' 데이터에서 'OrderDate' 열의 날짜 정보를 활용하여 요일을 나타내는 'Weekday' 열을 추가하고 확인해주세요.

In [64]:
#[문제35] day_amt를 요일 기준 매출액의 합을 계산하고 day_amt2에 저장하세요.

In [66]:
#[문제36] day_amt2를 출력하세요.

In [67]:
#[문제37] 요일별 매출 비중을 구하여 'Rate' 변수를 'day_amt2'에 추가해주세요.

In [68]:
#[문제38] day_amt2를 다시 출력하여 변수가 추가되었는지 확인해주세요.

### Q09) 고객 나이대

In [69]:
#[문제39] 고객의 태어난 연도를 활용하여 'Age'(고객 나이) 컬럼을 추가 합니다. (현재 : 2016년)

In [71]:
#[문제40] 고객이 몇십대 인지 'Age' 컬럼을 활용하여 'AgeGroup'(연령대) 컬럼을 추가 합니다.

In [73]:
#[문제41] 'customers' 데이터의 상단 5행을 출력하세요.

In [ ]:
#[추가문제42] 고객의 성별과 가입연도에 대한 가변수를 만들고 'encoded_data'에 저장하세요.

## 3.고객 이탈 정의

### (1) Label 만들기

* **Label이란?**
    * 라벨링이란 데이터의 의미 있는 값을 부여하여 구분하거나 분류하는 작업입니다.
    * 라벨링을 통해 데이터를 분석하거나 모델링하는 과정을 더 의미있게 만듭니다.
    * 예를 들면 이메일이 '스팸'인지 '정상'인지를 분류하거나, 데이터를 그룹화하거나 참인지 거짓인지 이진 분류하거나,
      순서를 표현하거나, 카테고리화하는 등 데이터의 특성에 따라 라벨링을 적용합니다.
* **Target이란?**
    * 타겟은 데이터 분석에서 예측하거나 분류하고자 하는 대상을 말합니다. 즉 우리가 예측하려는 값입니다.
    * 즉 타겟은 예측하거나 분류하려는 대상이나 범주이며, 타겟변수는 그 값을 의미합니다. 
    * 라벨과 타겟은 비슷한 개념이지만 라벨은 데이터의 특성이나 카테고리를 설명하기 위해 나타내는 값이며, 
      타겟은 모델이 예측하려는 대상 결과값이라고 이해해주세요.
* **세부 요구사항**
    * 고객의 이탈여부에 해당하는 Target변수를 생성하시오.
    * 대상 고객
        * 2014 ~ 2016년 신규 가입 고객 이면서,
        * 2016년 하반기에 한번 이상 방문한 고객이 대상 고객입니다.
    * Labeling
        * 위 대상 고객 중, 2017년 1~3월(3개월)동안 방문(구매)하지 않은 사람은 이탈로 간주합니다.
        * 이탈고객은 1, 이탈하지 않은 고객은 0으로 정의

#### 1) 대상고객 만들기

In [74]:
#[문제43] 'customers' 데이터에서 2014 ~ 2016년 신규 가입 고객을 'cust01'에 할당하세요.

In [76]:
#[문제44] 'cust01'을 출력하세요.

In [77]:
#[문제45] 'sales' 데이터에서 2016년 하반기에 방문한 고객을 'cust02'에 할당하세요.

In [79]:
#[문제46] 2016년 하반기에 한번 이상 방문한 고객을 'cust02'에 할당하세요.

In [81]:
#[문제47] 'cust02'을 출력하세요.

In [82]:
#[문제48] 대상고객 목록인 'cust01', 'cust02' 데이터를 합쳐서 'cust_churn0'으로 할당하세요.

In [84]:
#[문제49] 'cust_churn0'을 상단 5행 출력하세요.

#### 2) Label 만들기

In [85]:
#[문제50] sales 데이터프레임에서 2017년 1~3월 구매 고객을 'cust03'에 할당하세요

In [87]:
#[문제51] cust03에 'churn' 열을 추가하고, 해당 열의 모든 값에 0을 할당하세요.

In [88]:
#[문제52] 대상고객 목록인 'cust_churn0'과 2017년 1~3월 구매고객인 'cust03'을 합쳐서 'cust_churn0'으로 저장하세요.

In [90]:
#[문제53] 'cust_churn0'을 상단 5행 출력하세요.

In [91]:
#[문제54] cust_churn0 데이터의 churn 열의 NAN은 이탈 고객이다. 이탈고객은 1로 채워주세요.

In [93]:
#[문제55] 데이터프레임 cust_churn0의 'churn' 열의 데이터 타입을 정수형(int64)으로 변환하세요.

In [95]:
#[문제56] 데이터프레임 cust_churn0의 각 값들의 개수를 반환하여 고객 이탈 여부의 빈도수를 확인해주세요.

### (2) feature 추가하기

* **feature란**
    * Feature란 데이터에서 추출한 변수나 속성을 의미합니다.
    * 각각의 열을 feature라고 간주할 수 있습니다.
    * 올바른 feature를 선택하고 가공하여 생성하는 것은 데이터 분석에서 모델을 학습하거나 예측을 수행하는데 중요합니다.
* **세부 요구사항**
    * 기본 feature 3가지를 생성해봅니다.
        * 1) 가입연차
        * 2) 최근 3개월(2016년10~12월)간 방문 횟수
        * 3) 최근 3개월(2016년10~12월)간 구매금액

#### feature 3가지 생성

* ① 가입연수(RegDuration)
* ② 최근 3개월(2016년10~12월)간 방문 횟수
* ③ 최근 3개월(2016년10~12월)간 구매금액

In [97]:
#<① 가입연수> 
#[문제57] 'RegisterDate' 열의 데이터는 datetime 형식으로 변환합니다.

In [99]:
#[문제58] 2016-12-31 기준으로 가입 연수 'RegDuration' 열을 'cust_churn0'에 추가하여 출력해주세요.

In [101]:
#<② 3개월간 방문 횟수> 
#[문제59] sales에서 주문일자('OrderDate')가 '2016-10-01'부터 '2016-12-31' 사이인 데이터를 선택하여 'temp'에 저장하세요.

In [103]:
#<② 3개월간 방문 횟수> 
#[문제60] 'OrderID', 'OrderDate', 'CustomerID' 열만을 필터링해서 중복된 행을 제거하고 'temp'에 저장하여 출력하세요.

In [105]:
#<② 3개월간 방문 횟수>  
#[문제61] 'temp' 데이터에서 각 고객별 'OrderDate'열의 개수를 세어서 'temp2'에 저장하세요.

In [107]:
#<② 3개월간 방문 횟수>  
#[문제62] 'temp2' 데이터의 'OrderDate' 열의 이름을 'Visit_3M_Cnt'로 변경하고 확인해주세요.

In [109]:
#<② 3개월간 방문 횟수> 
#[문제63] cust_churn0과 temp2을 합쳐서 'cust_churn1'으로 저장하세요. how= 'left'로 기존 데이터는 유지해주세요.

In [111]:
#[문제64] cust_churn1 출력하고 확인해주세요.

In [112]:
#<③ 3개월간 구매금액>
#[문제65] 최근 3개월(2016-10-01~2016-12-31)간 고객별 구매금액을 계산하여 'temp'에 저장해주세요.

In [114]:
#<③ 3개월간 구매금액>
#[문제66] 데이터프레임 temp를 'CustomerID'를 기준으로 그룹화하고 각 고객별로 'Amt' 열의 합을 계산하여 'temp2'를 생성하세요.

In [116]:
#<③ 3개월간 구매금액>
#[문제67] 'temp2'에서 'Amt'열의 이름을 'Amt_3M_sum'으로 변경해주세요.

In [118]:
#<③ 3개월간 구매금액>
#[문제68] cust_churn1, temp2을 합쳐서 'cust_churn2'으로 저장하세요.

In [120]:
#[문제69] 'cust_churn2'를 출력하고 확인하세요.

In [121]:
#[문제70] cust_churn2를 cust_churn으로 저장하세요.

## 4.데이터셋 저장

* **세부 요구사항**
    * to_csv를 이용하여 전처리된 데이터셋을 저장하세요.
    * 저장할 파일의 확장자는 .csv 입니다.

In [122]:
#[문제71] 전처리된 데이터프레임 'cust_churn'을 CSV 파일로 저장합니다.

In [123]:
# 파일 : 'cust_churn.csv'

In [124]:
#[문제72] 데이터가 잘 저장되었는지 다시 한번 불러오고 확인해보세요.

In [125]:
## 정말 고생 많으셨습니다.
## 시간이 남으시는 분은 중급용 파일을 다시 한번 복기해보세요.